<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-display-message-box #displayMessageBox></app-display-message-box>

<div class="px-6 py-2 w-full flex flex-col space-y-2">
  <!-- <h2 class="text-lg font-bold">
    {{ "company.inboxApproval.name" | transloco }}
  </h2> -->
  <div class="flex flex-row items-center justify-between w-full">
    <h2 class="text-lg font-bold">
      {{ "company.inboxApproval.name" | transloco }}
    </h2>
    <a
      (click)="downloadSheet()"
      class="flex flex-row items-center btn btn-sm border border-success btn-ghost"
    >
      <span>
        <i class="bi bi-download text-success text-lg"></i>
      </span>
    </a>
  </div>
  <div
    [formGroup]="tableHeadersFormGroup"
    class="flex flex-col bg-white shadow px-2 py-4"
  >
    <div class="flex flex-row items-center justify-end">
      <div class="flex flex-row items-center space-x-2">
        <div class="dropdown">
          <button
            tabindex="0"
            role="button"
            class="btn btn-sm tracking-wide bg-white shadow rounded-sm m-1"
          >
            <span>
              <i class="bi bi-layout-three-columns text-sm"></i>
            </span>
            <p *transloco="let t; read: 'defaults'" class="lg:block hidden">
              {{ t("columns") }}
            </p>
            <span>
              <i class="bi bi-chevron-down text-sm lg:block hidden"></i>
            </span>
          </button>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li *ngFor="let control of headers.controls">
              <label class="label cursor-pointer">
                <span class="label-text text-xs font-normal">{{
                  control.get("label")?.value
                }}</span>
                <input
                  type="checkbox"
                  [formControl]="getFormControl(control, 'included')"
                  class="checkbox checkbox-xs"
                />
              </label>
            </li>
          </ul>
        </div>
        <div class="relative">
          <input
            *transloco="let t; read: 'company.inboxApproval'"
            type="search"
            class="relative pl-8 m-0 block w-full lg:w-96 min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-neutral-500 focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
            id="exampleSearch"
            [placeholder]="t('searchBy')"
            [formControl]="tableSearch"
          />
          <span class="absolute top-1/2 left-2 -translate-y-1/2">
            <i class="bi bi-search text-lg text-neutral-500"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto flex flex-col sm:-mx-6 lg:-mx-8 relative">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-y-auto shadow">
          <ng-container
            *ngIf="tableData.tableColumns$ | async as displayedColumns"
          >
            <table
              mat-table
              matSort
              [dataSource]="tableData.dataSource"
              class="mat-elevation-z2 w-full"
            >
              <ng-container
                *ngFor="
                  let column of displayedColumns;
                  trackBy: PerformanceUtils.trackByIndex;
                  index as ind;
                  last
                "
                [matColumnDef]="column.label"
              >
                <th mat-header-cell *matHeaderCellDef>
                  <div class="relative">
                    <div
                      *ngIf="tableSortableColumns(column); else notSortable"
                      [mat-sort-header]="tableSortableColumns(column)"
                      sortActionDescription="{{ column.desc }}"
                      [ngClass]="tableHeaderStyle(column.value)"
                      class="text-black font-semibold"
                    >
                      {{ column.label }}
                    </div>
                    <ng-template #notSortable>
                      <div
                        [ngClass]="tableHeaderStyle(column.value)"
                        class="text-black font-semibold"
                      >
                        {{ column.label }}
                      </div>
                    </ng-template>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element">
                  <ng-container
                    *ngIf="
                      ind !== displayedColumns.length - 1;
                      else actionTemplate
                    "
                  >
                    <p [class]="tableValueStyle(element, column.value)">
                      {{ tableValue(element, column.value) }}
                    </p>
                  </ng-container>
                  <ng-template #actionTemplate>
                    <button
                      (click)="approveCompany(element)"
                      class="bg-orange-100 hover:bg-orange-200 text-black btn btn-xs"
                    >
                      {{ element.Status }}
                    </button>
                  </ng-template>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="tableHeader(displayedColumns)"
              ></tr>
              <tr
                mat-row
                *matRowDef="
                  let row;
                  columns: tableHeader(displayedColumns);
                  index as i
                "
              ></tr>
              <tr class="mat-row" *matNoDataRow>
                <td
                  *transloco="let t; read: 'errors'"
                  class="mat-cell"
                  [attr.colspan]="tableData.tableColumns.length"
                >
                  <p
                    *ngIf="
                      tableSearch.value && tableData.dataSource.data.length > 0
                    "
                    class="text-xs lg:text-sm py-2 px-4"
                  >
                    {{ t("noFilterItemFound") }} "{{ tableSearch.value }}"
                  </p>
                  <p
                    *ngIf="tableData.dataSource.data.length <= 0"
                    class="text-center text-sm tracking-wide pt-3 pb-1"
                  >
                    {{ t("noDataFound") }}
                  </p>
                </td>
              </tr>
            </table>
          </ng-container>
          <ng-container *ngIf="tableLoading">
            <div class="w-full grid place-items-center mt-6">
              <span
                class="loading loading-spinner loading-sm bg-darkPurple"
              ></span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center justify-end">
      <mat-paginator
        #paginator
        [length]="tableData.companies.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
        [showFirstLastButtons]="tableData.companies.length > 20"
      >
      </mat-paginator>
    </div>
  </div>
</div>
