<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>
<app-display-message-box #displayMessageBox></app-display-message-box>

<form
  id="forgot-password-form"
  *transloco="let t; read: 'auth.changePassword'"
  class="bg-white grid place-items-center px-8 py-8 shadow-2 rounded-md space-y-0 md:w-[30rem]"
  [formGroup]="formGroup"
>
  <img src="assets/img/jichangelogo.png" class="w-40" alt="" srcset="" />
  <div
    *transloco="let t; read: 'auth.changePassword'"
    class="w-full flex flex-col"
  >
    <h6 class="text-center text-xl">
      {{ t("changePassword") }}
    </h6>
    <h6
      *transloco="let t; read: 'auth.changePassword'"
      class="text-center text-sm"
    >
      {{ t("completeForm") }}
    </h6>
  </div>
  <div class="flex flex-col space-y-4 w-full py-8">
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("mobileNumber") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="mobile"
        type="email"
        [placeholder]="t('mobileNumber')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span *ngIf="mobile && mobile.invalid && mobile.touched">
        <p
          *transloco="let t; read: 'auth.changePassword.form.errors'"
          class="text-xs text-red-600"
        >
          {{ t("mobileNumber") }}
        </p>
      </span>
    </div>
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("password") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="password"
        type="password"
        [placeholder]="t('password')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span *ngIf="password && password.invalid && password.touched">
        <div *transloco="let t; read: 'auth.changePassword'">
          <p
            *ngIf="password.hasError('required')"
            class="text-danger-700 text-xs"
          >
            {{ t("isEmpty") }}
          </p>
          <p
            *ngIf="password.hasError('passwordMismatch')"
            class="text-danger-700 text-xs"
          >
            {{ t("passwordsDoNotMatch") }}
          </p>
        </div>
      </span>
    </div>
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("confirmPassword") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="changePassword"
        type="password"
        [placeholder]="t('confirmPassword')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span
        *ngIf="
          changePassword && changePassword.invalid && changePassword.touched
        "
      >
        <div *transloco="let t; read: 'auth.changePassword'">
          <p
            *ngIf="changePassword.hasError('required')"
            class="text-danger-700 text-xs"
          >
            {{ t("isEmpty") }}
          </p>
          <p
            *ngIf="changePassword.hasError('passwordMismatch')"
            class="text-danger-700 text-xs"
          >
            {{ t("passwordsDoNotMatch") }}
          </p>
        </div>
      </span>
    </div>
  </div>
  <button
    form="forgot-password-form"
    (click)="submitForm()"
    type="submit"
    *transloco="let y; read: 'actions'"
    class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
  >
    {{ y("submit") }}
  </button>
</form>

<!-- <form
  id="change-password-form"
  class="bg-white grid place-items-center px-8 py-8 shadow-2 rounded-md space-y-0 md:w-[30rem]"
  [formGroup]="formGroup"
>
  <img src="assets/img/jichangelogo.png" class="w-40" alt="" srcset="" />
  <div
    *transloco="let t; read: 'auth.changePassword'"
    class="w-full flex flex-col"
  >
    <h6 class="text-center text-xl">
      {{ t("changePassword") }}
    </h6>
    <h6
      *transloco="let t; read: 'auth.changePassword'"
      class="text-center text-sm"
    >
      {{ t("completeForm") }}
    </h6>
  </div>
  <div class="flex flex-col space-y-4 w-full py-8">
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("mobileNumber") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="mob"
        type="email"
        [placeholder]="t('mobileNumber')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <ng-container *ngIf="mob && mob.invalid && mob.touched">
        <span *transloco="let t; read: 'auth.changePassword.form.errors'">
          <p class="text-xs text-red-600">
            {{ t("mobileNumber") }}
          </p>
        </span>
      </ng-container>
    </div>
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("password") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="password"
        type="password"
        [placeholder]="t('password')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <ng-container *ngIf="password && password.invalid && password.touched">
        <span *transloco="let t; read: 'auth.changePassword.form.errors'">
          <p class="text-xs text-red-600">
            {{ t("password") }}
          </p>
        </span>
      </ng-container>
    </div>
    <div class="flex flex-col space-y-1 w-full">
      <h6
        *transloco="let t; read: 'auth.changePassword.form'"
        class="text-left text-sm"
      >
        {{ t("confirmPassword") }} <span class="text-red-600">*</span>
      </h6>
      <input
        *transloco="let t; read: 'auth.changePassword.form.placeholders'"
        [formControl]="changePassword"
        type="password"
        [placeholder]="t('confirmPassword')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <ng-container
        *ngIf="
          changePassword && changePassword.invalid && changePassword.touched
        "
      >
        <span *transloco="let t; read: 'auth.changePassword.form.errors'">
          <p class="text-xs text-red-600">
            {{ t("confirmPassword") }}
          </p>
        </span>
      </ng-container>
    </div>
  </div>
  <button
    form="change-password-form"
    type="submit"
    *transloco="let y; read: 'actions'"
    class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
  >
    {{ y("submit") }}
  </button>
</form> -->
