<footer class="bg-base-300 grid place-items-center py-1">
  <!-- <a class="text-xl cursor-pointer">
    <img
      class="w-20 lg:w-28"
      src="assets/img/jichangelogo.png"
      alt="TE Logo"
      loading="lazy"
    />
  </a> -->
  <div class="flex flex-row items-center space-x-1">
    <p class="text-xs p-0">Designed & Developed by</p>
    <a
      href="https://bizlogicsolutions.com/"
      target="_blank"
      class="text-linkBlue text-xs p-0 hover:underline"
      >Biz-Logic Solutions Ltd.</a
    >
  </div>
</footer>
