<app-date-picker-dialog #datePicker></app-date-picker-dialog>
<div
  *transloco="let t; read: 'tableData'"
  class="dropdown"
  [class]="dropdownPosition"
>
  <button
    tabindex="0"
    role="button"
    class="btn btn-sm tracking-wide bg-white shadow rounded-sm m-1"
  >
    <span class="material-symbols-outlined text-sm"> schedule </span>
    <p class="lg:block hidden">{{ t("filterDates")[currentIndex] }}</p>
  </button>
  <ul
    tabindex="0"
    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
  >
    <li
      *ngFor="let dateFilter of t('filterDates'); index as ind"
      class="w-full"
    >
      <div
        *ngIf="ind !== t('filterDates').length - 1"
        class="form-control py-1 w-full"
      >
        <label class="label cursor-pointer">
          <input
            [checked]="currentIndex === ind"
            type="radio"
            name="date-filter"
            class="radio radio-xs"
          />
          <span class="label-text ml-1 w-full">{{ dateFilter }}</span>
        </label>
      </div>
      <button
        *ngIf="ind === t('filterDates').length - 1"
        (click)="openDatePickerDialog(datePicker)"
        class="flex flex-row items-center"
      >
        <span class="material-symbols-outlined"> add </span>
        <p>{{ dateFilter }}</p>
      </button>
    </li>
  </ul>
</div>
