<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>

<!-- <app-loader-rainbow [show]="startLoading"></app-loader-rainbow> -->
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<dialog #controlFound class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">Found</h3>
    <!-- <p class="py-4">Press ESC key or click the button below to close</p> -->
    <form [formGroup]="foundFormGroup" class="grid grid-cols-2 gap-3">
      <div class="flex flex-col">
        <p
          *transloco="let t; read: 'auth.controlNumberDetails.controlFound'"
          class="capitalize"
        >
          {{ t("controlNo") }}
        </p>
        <p class="font-semibold">
          {{ Control_No.value ? Control_No.value : "-" }}
        </p>
      </div>
      <div class="flex flex-col">
        <p
          *transloco="let t; read: 'auth.controlNumberDetails.controlFound'"
          class="capitalize"
        >
          {{ t("customerName") }}
        </p>
        <p class="font-semibold">
          {{ Cust_Name.value ? Cust_Name.value : "-" }}
        </p>
      </div>
      <div class="flex flex-col">
        <p
          *transloco="let t; read: 'auth.controlNumberDetails.controlFound'"
          class="capitalize"
        >
          {{ t("paymentType") }}
        </p>
        <p class="font-semibold">
          {{ Payment_Type.value ? Payment_Type.value : "-" }}
        </p>
      </div>
      <div class="flex flex-col">
        <p
          *transloco="let t; read: 'auth.controlNumberDetails.controlFound'"
          class="capitalize"
        >
          {{ t("itemTotalAmount") }}
        </p>
        <p class="font-semibold">
          {{ Item_Total_Amount.value + " " + Currency.value }}
        </p>
      </div>
      <div class="flex flex-col">
        <p
          *transloco="let t; read: 'auth.controlNumberDetails.controlFound'"
          class="capitalize"
        >
          {{ t("balance") }}
        </p>
        <p class="font-semibold">{{ Balance.value + " " + Currency.value }}</p>
      </div>
    </form>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn text-xs btn-outline font-inter btn-success w-24">
          Ok
        </button>
      </form>
    </div>
  </div>
</dialog>

<div class="flex flex-col w-full h-full">
  <form
    *transloco="let t; read: 'auth.controlNumberDetails'"
    id="control-number-form"
    [formGroup]="controlNumberFormGroup"
    class="py-10 px-10 flex flex-col divide-y"
  >
    <h1 class="text-xl md:text-2xl p-0">
      {{ t("title") }}
    </h1>
    <div class="flex flex-col space-y-1 w-full py-8">
      <h6 class="text-left text-sm">
        {{ t("form.controlName") }} <span class="text-red-600">*</span>
      </h6>
      <input
        #controlNumber
        formControlName="control"
        (change)="setControlNumberValue(controlNumber.value)"
        type="text"
        [placeholder]="t('form.placeholders.controlName')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span *ngIf="control && control.invalid && control.touched">
        <p class="text-xs text-red-600">
          {{ t("form.errors.controlName") }}
        </p>
      </span>
    </div>
    <div
      *transloco="let y; read: 'actions'"
      class="flex flex-row space-x-2 items-center w-full justify-end pt-2"
    >
      <button
        (click)="closeDialog()"
        type="button"
        class="btn text-xs btn-ghost text-neutral-500 font-inter w-24"
      >
        {{ y("close") }}
      </button>
      <button
        (click)="submitControlNumberForm()"
        type="submit"
        form="control-number-form"
        class="btn text-xs btn-outline font-inter btn-success w-24"
      >
        {{ y("submit") }}
      </button>
    </div>
  </form>
</div>
