<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<dialog #confirmAddEmailText id="my_modal_2" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg" *transloco="let t; read: 'defaults'">
      {{ t("confirm") }}
    </h3>
    <p class="py-4 text-sm" *transloco="let t; read: 'actions'">
      {{ t("saveChanges") }}
    </p>
    <div class="modal-action">
      <div class="flex flex-row items">
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddEmailText.close()"
          class="btn btn-ghost btn-xs btn-info text-red-600"
        >
          {{ t("close") }}
        </button>
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddEmailText.close(); addEmailText()"
          class="btn btn-ghost btn-xs btn-info text-linkBlue"
        >
          {{ t("confirm") }}
        </button>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button #close>close</button>
  </form>
</dialog>

<div class="flex flex-col w-full h-full">
  <form
    id="control-number-form"
    [formGroup]="emailTextForm"
    class="py-10 px-10 flex flex-col divide-y"
  >
    <h1
      *transloco="let t; read: 'setup.emailText'"
      class="text-xl md:text-2xl p-0"
    >
      {{ t("emailText") }}
    </h1>
    <div action="" class="grid grid-cols-2 gap-3 w-full py-8">
      <div class="flex flex-col space-y-1 col-span-full">
        <p *transloco="let t; read: 'setup.emailText.form'" class="text-xs">
          {{ t("flowId") }}<span class="text-red-600">*</span>
        </p>
        <select
          [formControl]="flow"
          class="select select-sm select-bordered w-1/2"
        >
          <option
            *transloco="let t; read: 'setup.emailText.form.placeholders'"
            selected
            disabled
          >
            {{ t("flowId") }}
          </option>
          <option
            *ngFor="
              let flowId of flows;
              trackBy: PerformanceUtils.trackByIndex;
              index as ind
            "
            [value]="ind + 1"
          >
            {{ flowId }}
          </option>
        </select>
        <span *ngIf="flow && flow.invalid && flow.touched">
          <p
            *transloco="let t; read: 'setup.emailText.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("flowId") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.emailText.form'" class="text-xs">
          {{ t("subjectEnglish") }}<span class="text-red-600">*</span>
        </p>
        <input
          *transloco="let t; read: 'setup.emailText.form.placeholders'"
          type="email"
          [placeholder]="t('subjectEnglish')"
          class="input input-sm input-bordered font-inter"
          [formControl]="sub"
          #subjectEnglishInput
        />
        <span *ngIf="sub && sub.invalid && sub.touched">
          <p
            *transloco="let t; read: 'setup.emailText.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("subjectEnglish") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.emailText.form'" class="text-xs">
          {{ t("subjectSwahili") }}
        </p>
        <input
          *transloco="let t; read: 'setup.emailText.form.placeholders'"
          type="email"
          [placeholder]="t('subjectSwahili')"
          class="input input-sm input-bordered font-inter"
          [formControl]="subloc"
          #subjectSwahiliInput
        />
        <span *ngIf="subloc && subloc.invalid && subloc.touched">
          <p
            *transloco="let t; read: 'setup.emailText.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("subjectSwahili") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col col-span-full lg:col-span-1 space-y-1">
        <p *transloco="let t; read: 'setup.emailText.form'" class="text-xs">
          {{ t("emailText") }}<span class="text-red-600">*</span>
        </p>
        <textarea
          *transloco="let t; read: 'setup.emailText.form.placeholders'"
          [formControl]="text"
          [placeholder]="t('emailText')"
          class="textarea textarea-bordered textarea-sm h-36"
          #emailTextArea
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <span *ngIf="text && text.invalid && text.touched">
          <p
            *transloco="let t; read: 'setup.emailText.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("emailText") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col col-span-full lg:col-span-1 space-y-1">
        <p *transloco="let t; read: 'setup.emailText.form'" class="text-xs">
          {{ t("emailSwahili") }}<span class="text-red-600">*</span>
        </p>
        <textarea
          *transloco="let t; read: 'setup.emailText.form.placeholders'"
          [formControl]="loctext"
          [placeholder]="t('emailSwahili')"
          class="textarea textarea-bordered textarea-sm h-36"
          #emailSwahiliTextArea
          id=""
          cols="30"
          rows="10"
        ></textarea>
        <span *ngIf="loctext && loctext.invalid && loctext.touched">
          <p
            *transloco="let t; read: 'setup.emailText.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("emailSwahili") }}
          </p>
        </span>
      </div>
    </div>
    <div class="flex flex-row space-x-2 items-center w-full justify-end pt-2">
      <button
        *transloco="let t; read: 'actions'"
        (click)="closeDialog()"
        type="button"
        class="btn text-xs font-inter btn-ghost text-neutral-500 w-24"
      >
        {{ t("close") }}
      </button>
      <button
        *transloco="let t; read: 'actions'"
        (click)="submitEmailTextForm()"
        type="submit"
        form="control-number-form"
        class="btn text-xs btn-outline font-inter btn-success w-24"
      >
        {{ t("submit") }}
      </button>
    </div>
  </form>
</div>
