<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>

<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div class="w-full h-full relative">
  <img
    src="assets/img/bg-8.avif"
    class="absolute z-0 object-cover w-full h-full"
    alt=""
    srcset=""
  />
  <div
    class="absolute top-0 left-0 right-0 bottom-0 grid place-items-center z-10"
  >
    <form
      id="forgot-password-form"
      *transloco="let t; read: 'auth.forgotPassword'"
      class="bg-white grid place-items-center shadow-2 rounded-md space-y-0 p-4 w-11/12 lg:w-[30rem]"
      [formGroup]="formGroup"
    >
      <img src="assets/img/logo.png" class="w-40" alt="" srcset="" />
      <div class="w-full flex flex-col">
        <h6 class="text-center mat-headline-large">
          {{ t("welcomeMessage") }}
        </h6>
        <p class="text-center text-sm">
          {{ t("forgotPasswordMessage") }}
        </p>
      </div>
      <div class="flex flex-col space-y-1 w-full py-4">
        <h6 class="text-left text-xs">
          {{ t("form.email") }}
        </h6>
        <app-phone-number-input
          [mobileNumber]="mobile"
        ></app-phone-number-input>
      </div>
      <div class="w-full py-4">
        <a
          [routerLink]="'/auth'"
          class="text-info cursor-pointer text-sm hover:underline"
        >
          {{ t("form.links.backToLogin") }}
        </a>
      </div>
      <button
        *transloco="let y; read: 'actions'"
        (click)="submitForm()"
        form="forgot-password-form"
        type="submit"
        mat-flat-button
        color="primary"
        class="w-full"
      >
        {{ t("sendResetPasswordLink") }}
      </button>
    </form>
  </div>
</div>
