<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>

<!-- <ngx-loading
  [show]="startLoading"
  [config]="{ backdropBorderRadius: '1px' }"
></ngx-loading> -->
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div class="w-full h-full">
  <div class="absolute top-0 left-0 right-0 bottom-0 grid place-items-center">
    <form
      id="forgot-password-form"
      *transloco="let t; read: 'auth.forgotPassword'"
      class="bg-white grid place-items-center shadow-2 rounded-md space-y-0 p-4 w-11/12 lg:w-[30rem]"
      [formGroup]="formGroup"
    >
      <img src="assets/img/logo.png" class="w-40" alt="" srcset="" />
      <div class="w-full flex flex-col">
        <h6 class="text-center text-xl">
          {{ t("welcomeMessage") }}
        </h6>
        <p class="text-center text-sm">
          {{ t("forgotPasswordMessage") }}
        </p>
      </div>
      <div class="flex flex-col space-y-1 w-full py-8">
        <h6 class="text-left text-sm">
          {{ t("form.email") }} <span class="text-red-600">*</span>
        </h6>
        <app-phone-number-input
          [mobileNumber]="mobile"
        ></app-phone-number-input>
        <span *ngIf="mobile && mobile.invalid && mobile.touched">
          <p class="text-xs text-red-600">
            {{ t("form.errors.email") }}
          </p>
        </span>
      </div>
      <div class="w-full pb-4">
        <a
          [routerLink]="'/auth'"
          class="text-linkBlue cursor-pointer text-sm hover:underline"
        >
          {{ t("form.links.backToLogin") }}
        </a>
      </div>
      <button
        form="forgot-password-form"
        (click)="submitForm()"
        type="submit"
        *transloco="let y; read: 'actions'"
        class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
      >
        {{ y("reset") }}
      </button>
    </form>

    <!-- <form
      id="forgot-password-form"
      *transloco="let t; read: 'auth.forgotPassword'"
      class="bg-white grid place-items-center px-8 py-8 shadow-2 rounded-md space-y-0 w-full lg:w-[30rem]"
      [formGroup]="formGroup"
    >
      <img src="assets/img/jichangelogo.png" class="w-40" alt="" srcset="" />
      <div class="w-full flex flex-col">
        <h6 class="text-center text-xl">
          {{ t("welcomeMessage") }}
        </h6>
        <h6 class="text-center text-sm">
          {{ t("forgotPasswordMessage") }}
        </h6>
      </div>
      <div class="flex flex-col space-y-1 w-full py-8">
        <h6 class="text-left text-sm">
          {{ t("form.email") }} <span class="text-red-600">*</span>
        </h6>
        <app-phone-number-input
          [mobileNumber]="mobile"
        ></app-phone-number-input>
        <span *ngIf="mobile && mobile.invalid && mobile.touched">
          <p class="text-xs text-red-600">
            {{ t("form.errors.email") }}
          </p>
        </span>
      </div>
      <div class="w-full pb-4">
        <a
          [routerLink]="'/auth'"
          class="text-linkBlue cursor-pointer text-sm hover:underline"
        >
          {{ t("form.links.backToLogin") }}
        </a>
      </div>
      <button
        form="forgot-password-form"
        (click)="submitForm()"
        type="submit"
        *transloco="let y; read: 'actions'"
        class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
      >
        {{ y("reset") }}
      </button>
    </form> -->
  </div>
</div>

<!-- <form
  id="forgot-password-form"
  *transloco="let t; read: 'auth.forgotPassword'"
  class="bg-white grid place-items-center px-8 py-8 shadow-2 rounded-md space-y-0 md:w-[30rem]"
  [formGroup]="formGroup"
>
  <img src="assets/img/jichangelogo.png" class="w-40" alt="" srcset="" />
  <div class="w-full flex flex-col">
    <h6 class="text-center text-xl">
      {{ t("welcomeMessage") }}
    </h6>
    <h6 class="text-center text-sm">
      {{ t("forgotPasswordMessage") }}
    </h6>
  </div>
  <div class="flex flex-col space-y-1 w-full py-8">
    <h6 class="text-left text-sm">
      {{ t("form.email") }} <span class="text-red-600">*</span>
    </h6>
    <app-phone-number-input [mobileNumber]="mobile"></app-phone-number-input>
    <span *ngIf="mobile && mobile.invalid && mobile.touched">
      <p class="text-xs text-red-600">
        {{ t("form.errors.email") }}
      </p>
    </span>
  </div>
  <div class="w-full pb-4">
    <a
      [routerLink]="'/auth'"
      class="text-linkBlue cursor-pointer text-sm hover:underline"
    >
      {{ t("form.links.backToLogin") }}
    </a>
  </div>
  <button
    form="forgot-password-form"
    (click)="submitForm()"
    type="submit"
    *transloco="let y; read: 'actions'"
    class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
  >
    {{ y("reset") }}
  </button>
</form> -->
