<details class="dropdown dropdown-end">
  <summary class="m-1 btn">
    <span class="material-symbols-outlined"> headset_mic </span>
  </summary>
  <form
    (keydown.enter)="
      $event.preventDefault();
      sendServiceText(textInput.value);
      textInput.value = ''
    "
    tabindex="0"
    class="menu flex flex-col justify-center space-y-8 menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-72 lg:w-96"
  >
    <div class="flex flex-row items-center shadow-2xl bg-white">
      <div class="flex-grow bg bg-gray-300 h-0.5"></div>
      <div class="flex-grow-0 mx-5 text-black tracking-wide text-sm">
        Got a question?
      </div>
      <div class="flex-grow bg bg-gray-300 h-0.5"></div>
    </div>
    <ul
      #serviceUl
      tabindex="0"
      class="flex flex-col overflow-y-auto max-h-96 bg-base-200"
    >
      <li>
        <div class="chat chat-start">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS chat bubble component"
                src="assets/img/jichangelogo.png"
              />
            </div>
          </div>
          <div class="chat-header tex-sm">
            Customer service
            <time class="text-xs opacity-50">12:45</time>
          </div>
          <div
            class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
          >
            Hello I am customer service! Ask me anything
          </div>
        </div>
      </li>
      <!-- <li>
        <div class="chat chat-end">
          <div class="chat-image avatar">
            <div
              class="bg-neutral text-neutral-content rounded-full w-8 md:w-10 relative"
            >
              <span
                class="text-xs absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                >UI</span
              >
            </div>
          </div>
          <div class="chat-header">
            You
            <time class="text-xs opacity-50">12:46</time>
          </div>
          <div class="chat-bubble bg-lightPurple text-black font-inter">
            How many invoices did we have last year?
          </div>
          <div class="chat-footer opacity-50">Seen at 12:46</div>
        </div>
      </li>
      <li>
        <div class="chat chat-start">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS chat bubble component"
                src="assets/img/jichangelogo.png"
              />
            </div>
          </div>
          <div class="chat-header tex-sm">
            Customer service
            <time class="text-xs opacity-50">12:45</time>
          </div>
          <div
            class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
          >
            <div
              class="w-full h-4 flex flex-row items-center justify-center space-x-1"
            >
              <span class="loading loading-ball loading-xs"></span>
              <span class="loading loading-ball loading-xs"></span>
              <span class="loading loading-ball loading-xs"></span>
            </div>
          </div>
        </div>
      </li> -->
      <ng-container *ngFor="let serviceText of serviceTexts; index as ind">
        <li>
          <div class="chat chat-end">
            <div class="chat-image avatar">
              <div
                class="bg-neutral text-neutral-content rounded-full w-8 md:w-10 relative"
              >
                <span
                  class="text-xs absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                  >UI</span
                >
              </div>
            </div>
            <div class="chat-header">
              You
              <time class="text-xs opacity-50">12:46</time>
            </div>
            <div class="chat-bubble bg-lightPurple text-black font-inter">
              {{ serviceText.text }}
            </div>
            <div class="chat-footer opacity-50">
              {{ getCurrentTime() }}
            </div>
          </div>
          <div class="chat chat-start">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="assets/img/jichangelogo.png"
                />
              </div>
            </div>
            <ng-container *ngIf="!serviceText.response">
              <div class="chat-header tex-sm">
                Customer service
                <time class="text-xs opacity-50"></time>
              </div>
              <div
                class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
              >
                <div
                  class="w-full h-4 flex flex-row items-center justify-center space-x-1"
                >
                  <span class="loading loading-ball loading-xs"></span>
                  <span class="loading loading-ball loading-xs"></span>
                  <span class="loading loading-ball loading-xs"></span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="serviceText.response">
              <div class="chat-header tex-sm">
                Customer service
                <time class="text-xs opacity-50">{{
                  getCurrentTime(serviceText.response.time)
                }}</time>
              </div>
              <div
                class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
              >
                <p>
                  {{ serviceText.response.text }}
                </p>
              </div>
            </ng-container>
          </div>
          <!-- <div *ngIf="serviceText.response" class="chat chat-start">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="assets/img/jichangelogo.png"
                />
              </div>
            </div>
            <div class="chat-header tex-sm">
              Customer service
              <time class="text-xs opacity-50">12:45</time>
            </div>
            <div
              class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
            >
              <div
                *ngIf="!serviceText.response"
                class="w-full h-4 flex flex-row items-center justify-center space-x-1"
              >
                <span class="loading loading-ball loading-xs"></span>
                <span class="loading loading-ball loading-xs"></span>
                <span class="loading loading-ball loading-xs"></span>
              </div>
              <p *ngIf="serviceText.response">
                {{ serviceText.response.text }}
              </p>
            </div>
          </div> -->
        </li>
      </ng-container>
    </ul>
    <div class="flex flex-row items-center space-x-2">
      <input
        #textInput
        type="text"
        class="grow w-full input input-sm input-bordered text-xs"
        placeholder="Start typing..."
      />
      <button
        type="button"
        (click)="sendServiceText(textInput.value); textInput.value = ''"
        class="btn btn-sm w-12 h-12 rounded-full flex-none bg-lightPurple btn-ghost"
      >
        <span class="material-symbols-outlined text-darkPurple"> near_me </span>
      </button>
    </div>
    <!-- <ul
      #serviceUl
      tabindex="0"
      class="flex flex-col overflow-y-auto max-h-96 bg-base-200"
    >
      <li>
        <div class="chat chat-start">
          <div class="chat-image avatar">
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS chat bubble component"
                src="assets/img/jichangelogo.png"
              />
            </div>
          </div>
          <div class="chat-header tex-sm">
            Customer service
            <time class="text-xs opacity-50">12:45</time>
          </div>
          <div
            class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
          >
            Hello I am customer service! Ask me anything
          </div>
        </div>
      </li>
      <ng-container *ngFor="let serviceText of serviceTexts; index as ind">
        <li>
          <div class="chat chat-end">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg"
                />
              </div>
            </div>
            <div class="chat-header">
              {{ serviceText.text }}
              <time class="text-xs opacity-50">12:46</time>
            </div>
            <div class="chat-bubble">{{ serviceText.text }}</div>
            <div class="chat-footer opacity-50">Seen at 12:46</div>
          </div>
          <div *ngIf="serviceText.response" class="chat chat-start">
            <div class="chat-image avatar">
              <div class="w-10 rounded-full">
                <img
                  alt="Tailwind CSS chat bubble component"
                  src="assets/img/jichangelogo.png"
                />
              </div>
            </div>
            <div class="chat-header tex-sm">
              Customer service
              <time class="text-xs opacity-50">12:45</time>
            </div>
            <div
              class="chat-bubble text-sxs bg-lightPurple text-black font-normal"
            >
              {{ serviceText.response.text }}
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
    <div class="flex flex-row items-center space-x-2">
      <button
        (click)="openQuestionFileDialog()"
        type="button"
        class="btn btn-sm w-12 h-12 rounded-full flex-none"
      >
        <span class="material-symbols-outlined"> photo_camera </span>
      </button>
      <input
        #textInput
        type="text"
        class="grow w-full input input-sm input-bordered text-xs"
        placeholder="Start typing..."
      />
      <button
        type="button"
        (click)="sendServiceText(textInput.value)"
        class="btn btn-sm w-12 h-12 rounded-full flex-none bg-lightPurple btn-ghost"
      >
        <span class="material-symbols-outlined text-darkPurple"> near_me </span>
      </button>
    </div> -->
  </form>
</details>
