<app-display-message-box #displayMessageBox></app-display-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div class="px-6 py-2 w-full flex flex-col space-y-2">
  <div class="flex flex-row items-center justify-between">
    <h2 *transloco="let t; read: 'setup.bankUser'" class="text-lg font-bold">
      {{ t("bankUser") }}
    </h2>
    <button
      (click)="openBankUserForm()"
      class="flex flex-row items-center btn btn-sm border border-darkPurple btn-ghost"
    >
      <span>
        <i class="bi bi-plus-circle text-darkPurple text-lg"></i>
      </span>
      <p
        *transloco="let t; read: 'setup.bankUser'"
        class="text-sm text-darkPurple"
      >
        {{ t("addBankUser") }}
      </p>
    </button>
  </div>
  <div
    [formGroup]="tableHeadersFormGroup"
    class="flex flex-col bg-white shadow px-2 py-4"
  >
    <div class="flex flex-row items-center justify-end">
      <div class="flex flex-row items-center space-x-2">
        <div class="dropdown">
          <button
            tabindex="0"
            role="button"
            class="btn btn-sm tracking-wide bg-white shadow rounded-sm m-1"
          >
            <span>
              <i class="bi bi-layout-three-columns text-sm"></i>
            </span>
            <p *transloco="let t; read: 'defaults'" class="lg:block hidden">
              {{ t("columns") }}
            </p>
            <span>
              <i class="bi bi-chevron-down text-sm lg:block hidden"></i>
            </span>
          </button>
          <ul
            tabindex="0"
            class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52"
          >
            <li *ngFor="let control of headers.controls">
              <label class="label cursor-pointer">
                <span class="label-text text-xs font-normal">{{
                  control.get("label")?.value
                }}</span>
                <input
                  type="checkbox"
                  [formControl]="getFormControl(control, 'included')"
                  class="checkbox checkbox-xs"
                />
              </label>
            </li>
          </ul>
        </div>
        <div class="relative">
          <input
            *transloco="let t; read: 'defaults'"
            type="search"
            class="relative pl-8 m-0 block w-full lg:w-96 min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-neutral-500 focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
            id="exampleSearch"
            [placeholder]="t('search')"
            [formControl]="tableSearch"
          />
          <span class="absolute top-1/2 left-2 -translate-y-1/2">
            <i class="bi bi-search text-neutral-500"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="overflow-x-auto flex flex-col sm:-mx-6 lg:-mx-8 relative">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-y-auto shadow">
          <table
            #customersTable
            class="min-w-full text-left text-sm font-light"
          >
            <thead formArrayName="headers" class="border-b font-medium">
              <tr
                *transloco="let t; read: 'tableData.vendor'"
                class="bg-lightPurple"
              >
                <ng-container
                  *ngFor="let header of headers.controls; index as ind"
                >
                  <th
                    *ngIf="header.get('included')?.value"
                    scope="col"
                    class="px-6 py-2 font-inter text-sm"
                    [id]="'generated-invoice-id-' + ind"
                    formGroupName="{{ ind }}"
                  >
                    <div class="flex items-center">
                      <p>
                        {{ header?.get("label")?.value }}
                      </p>
                      <button
                        [class]="
                          header.get('label')?.value === '#' ? 'hidden' : ''
                        "
                        (click)="
                          PerformanceUtils.sortColumnClicked(ind, headers)
                        "
                        class="flex flex-row items-center m-1"
                      >
                        <span>
                          <i
                            [class]="
                              header.get('sortAsc')?.value
                                ? 'text-darkPurple'
                                : ''
                            "
                            class="bi bi-arrow-up"
                          ></i>
                        </span>
                        <span>
                          <i
                            [class]="
                              header.get('sortAsc')?.value
                                ? ''
                                : 'text-darkPurple'
                            "
                            class="bi bi-arrow-down"
                          ></i>
                        </span>
                      </button>
                    </div>
                  </th>
                </ng-container>
                <th
                  *transloco="let t; read: 'defaults'"
                  class="px-6 font-inter text-sm text-right"
                >
                  {{ t("action") }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let employeeDetail of employeeDetails
                    | slice
                      : 1 + paginator.pageSize * paginator.pageIndex - 1
                      : 1 +
                          paginator.pageSize * paginator.pageIndex +
                          paginator.pageSize -
                          1;
                  index as i;
                  trackBy: PerformanceUtils.trackByIndex
                "
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100"
                [class]="i % 2 !== 0 ? 'bg-neutral-50' : ''"
              >
                <td
                  *ngIf="
                    headers.controls.at(EmployeeTable.ID)?.get('included')
                      ?.value
                  "
                  [class]="
                    headers.controls.at(EmployeeTable.ID)?.get('included')
                      ?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  {{
                    PerformanceUtils.getIndexOfItem(
                      employeeDetails,
                      employeeDetail
                    )
                  }}
                </td>
                <td
                  *ngIf="
                    headers.controls
                      .at(EmployeeTable.FULL_NAME)
                      ?.get('included')?.value
                  "
                  [class]="
                    headers.controls
                      .at(EmployeeTable.FULL_NAME)
                      ?.get('included')?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  {{ employeeDetail.Full_Name }}
                </td>
                <td
                  *ngIf="
                    headers.controls
                      .at(EmployeeTable.DESIGNATION)
                      ?.get('included')?.value
                  "
                  [class]="
                    headers.controls
                      .at(EmployeeTable.DESIGNATION)
                      ?.get('included')?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  {{ employeeDetail.Desg_name }}
                </td>
                <td
                  *ngIf="
                    headers.controls.at(EmployeeTable.EMAIL)?.get('included')
                      ?.value
                  "
                  [class]="
                    headers.controls.at(EmployeeTable.EMAIL)?.get('included')
                      ?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  {{ employeeDetail.Email_Address }}
                </td>
                <td
                  *ngIf="
                    headers.controls
                      .at(EmployeeTable.MOBILE_NUMBER)
                      ?.get('included')?.value
                  "
                  [class]="
                    headers.controls
                      .at(EmployeeTable.MOBILE_NUMBER)
                      ?.get('included')?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  {{ employeeDetail.Mobile_No }}
                </td>
                <td
                  *ngIf="
                    headers.controls.at(EmployeeTable.STATUS)?.get('included')
                      ?.value
                  "
                  [class]="
                    headers.controls.at(EmployeeTable.STATUS)?.get('included')
                      ?.value
                      ? ''
                      : 'hidden'
                  "
                  class="text-sm font-inter whitespace-nowrap px-6 py-4"
                >
                  <button
                    [class]="
                      PerformanceUtils.getActiveStatusStyles(
                        employeeDetail.Emp_Status
                          ? employeeDetail.Emp_Status
                          : '-',
                        'Active'
                      )
                    "
                  >
                    {{
                      employeeDetail.Emp_Status
                        ? employeeDetail.Emp_Status
                        : "-"
                    }}
                  </button>
                </td>
                <td class="text-sm font-inter whitespace-nowrap px-6 py-3">
                  <app-remove-item-dialog
                    #removeItemDialog
                  ></app-remove-item-dialog>
                  <div class="flex flex-row items-center justify-end space-x-2">
                    <button
                      *transloco="let t; read: 'actions'"
                      [attr.data-tip]="t('edit')"
                      (click)="openEditBankUserForm(employeeDetail)"
                      class="btn btn-sm btn-ghost tooltip"
                    >
                      <span>
                        <i class="bi bi-pen text-lg text-info"></i>
                      </span>
                    </button>
                    <button
                      *transloco="let t; read: 'actions'"
                      [attr.data-tip]="t('delete')"
                      (click)="
                        openRemoveDialog(employeeDetail, removeItemDialog)
                      "
                      class="btn btn-sm btn-ghost tooltip"
                    >
                      <span>
                        <i class="bi bi-trash text-lg text-danger-600"></i>
                      </span>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-container *ngIf="!tableLoading">
            <div *transloco="let t; read: 'errors'">
              <p
                *ngIf="employeeDetails.length <= 0"
                class="text-center text-sm tracking-wide pt-3 pb-1"
              >
                {{ t("noDataFound") }}
              </p>
            </div>
          </ng-container>
          <ng-container *ngIf="tableLoading">
            <div class="w-full grid place-items-center mt-6">
              <span
                class="loading loading-spinner loading-sm bg-darkPurple"
              ></span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex flex-row items-center justify-end">
      <mat-paginator
        #paginator
        [length]="employeeDetails.length"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
        [showFirstLastButtons]="employeeDetails.length > 20"
      >
      </mat-paginator>
    </div>
  </div>
</div>
