<dialog #noInternetModal class="modal">
  <div class="modal-box bg-transparent">
    <div role="alert" class="alert alert-error">
      <span class="material-symbols-outlined text-white"> cancel </span>
      <span
        class="text-white text-sm font-inter"
        *transloco="let t; read: 'errors'"
        >{{ t("noInternet") }}</span
      >
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog #connectedModal class="modal">
  <div class="modal-box bg-transparent">
    <div role="alert" class="alert alert-success">
      <span class="material-symbols-outlined text-white"> check_circle </span>
      <span
        class="text-white text-sm font-inter"
        *transloco="let t; read: 'errors'"
        >{{ t("connected") }}</span
      >
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<div
  class="flex flex-col h-screen w-screen overflow-x-hidden bg-jichangeDefault"
>
  <ng-container *ngIf="!isAuthRoute() && !isBankRoute()">
    <div class="flex-none z-50">
      <app-header></app-header>
    </div>
  </ng-container>
  <div class="grow flex flex-col pb-4">
    <div *ngIf="!isAuthRoute() && !isBankRoute()" class="px-6 py-2">
      <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
      <ng-template #iconTemplate>
        <span class="material-symbols-outlined"> chevron_right </span>
      </ng-template>
    </div>
    <div class="relative">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!isAuthRoute() && !isBankRoute()" class="flex-none">
    <app-footer></app-footer>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
