<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<!-- <app-loader-rainbow [show]="startLoading"></app-loader-rainbow> -->
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>
<!-- <ngx-loading
  [show]="startLoading"
  [config]="{ backdropBorderRadius: '1px' }"
></ngx-loading> -->

<dialog #confirmAddBankUser id="my_modal_2" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg" *transloco="let t; read: 'defaults'">
      {{ t("confirm") }}
    </h3>
    <p class="py-4 text-sm" *transloco="let t; read: 'actions'">
      {{ t("saveChanges") }}
    </p>
    <div class="modal-action">
      <div class="flex flex-row items">
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddBankUser.close()"
          class="btn btn-ghost btn-xs btn-info text-red-600"
        >
          {{ t("close") }}
        </button>
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddBankUser.close(); addBankUser()"
          class="btn btn-ghost btn-xs btn-info text-linkBlue"
        >
          {{ t("confirm") }}
        </button>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button #close>close</button>
  </form>
</dialog>

<div class="flex flex-col w-full h-full">
  <form
    id="control-number-form"
    [formGroup]="bankUserForm"
    class="py-10 px-10 flex flex-col divide-y"
  >
    <h1
      *transloco="let t; read: 'setup.bankUser'"
      class="text-xl md:text-2xl p-0"
    >
      {{ t("userDetails") }}
    </h1>
    <div action="" class="grid grid-cols-2 gap-3 w-full py-8">
      <div class="flex flex-col space-y-1 col-span-full lg:col-span-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("employeeId") }}<span class="text-red-600">*</span>
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="text"
          [placeholder]="t('employeeId')"
          class="input input-sm input-bordered font-inter"
          [formControl]="empid"
          #employeeInput
        />
        <span *ngIf="empid && empid.invalid && empid.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("employeeId") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("firstName") }}<span class="text-red-600">*</span>
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="text"
          [placeholder]="t('firstName')"
          class="input input-sm input-bordered font-inter"
          [formControl]="fname"
          #firstNameInput
        />
        <span *ngIf="fname && fname.invalid && fname.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("firstName") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("middleName") }}
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="text"
          [placeholder]="t('middleName')"
          class="input input-sm input-bordered font-inter"
          [formControl]="mname"
          #middleNameInput
        />
        <span *ngIf="mname && mname.invalid && mname.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("middleName") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("lastName") }}<span class="text-red-600">*</span>
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="text"
          [placeholder]="t('lastName')"
          class="input input-sm input-bordered font-inter"
          [formControl]="lname"
          #lastNameInput
        />
        <span *ngIf="lname && lname.invalid && lname.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("lastName") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("username") }}<span class="text-red-600">*</span>
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="text"
          [placeholder]="t('username')"
          class="input input-sm input-bordered font-inter"
          [formControl]="user"
          #usernameInput
        />
        <span *ngIf="user && user.invalid && user.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("username") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("designation") }}<span class="text-red-600">*</span>
        </p>
        <select
          [formControl]="desg"
          class="select select-sm select-bordered w-full relative"
        >
          <option
            *transloco="let t; read: 'setup.bankUser.form.placeholders'"
            disabled
            selected
            [value]="t('designation')"
          >
            {{ t("designation") }}
          </option>
          <option
            [value]="designation.Desg_Id"
            *ngFor="
              let designation of designations;
              trackBy: PerformanceUtils.trackByIndex
            "
          >
            {{ designation.Desg_Name }}
          </option>
        </select>
        <span *ngIf="desg && desg.invalid && desg.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("designation") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("branch") }}
        </p>
        <select
          [formControl]="branch"
          class="select select-sm select-bordered w-full"
        >
          <option
            *transloco="let t; read: 'setup.bankUser.form.placeholders'"
            disabled
            selected
            [value]="t('branch')"
          >
            {{ t("branch") }}
          </option>
          <option
            *ngFor="
              let branch of branches;
              trackBy: PerformanceUtils.trackByIndex
            "
            [value]="branch.Sno"
          >
            {{ branch.Name }}
          </option>
        </select>
        <span *ngIf="branch && branch.invalid && branch.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("branch") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("emailId") }}
        </p>
        <input
          *transloco="let t; read: 'setup.bankUser.form.placeholders'"
          type="email"
          [placeholder]="t('emailId')"
          class="input input-sm input-bordered font-inter"
          [formControl]="email"
          #emailIdInput
        />
        <span *ngIf="email && email.invalid && email.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("emailId") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p *transloco="let t; read: 'setup.bankUser.form'" class="text-xs">
          {{ t("mobileNo") }}<span class="text-red-600">*</span>
        </p>
        <app-phone-number-input
          [mobileNumber]="mobile"
        ></app-phone-number-input>
        <span *ngIf="mobile && mobile.invalid && mobile.touched">
          <p
            *transloco="let t; read: 'setup.bankUser.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("mobileNo") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col w-full">
        <p *transloco="let t; read: 'defaults'" class="text-xs">
          {{ t("status") }}<span class="text-red-600">*</span>
        </p>
        <div class="flex flex-row items-center">
          <div class="form-control">
            <label class="label cursor-pointer">
              <span
                *transloco="let t; read: 'defaults'"
                class="label-text text-xs font-inter"
              >
                {{ t("active") }}
              </span>
              <input
                type="radio"
                [formControl]="gender"
                class="radio radio-xs"
                [value]="'Active'"
                checked
              />
            </label>
          </div>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span
                *transloco="let t; read: 'defaults'"
                class="label-text text-xs font-inter"
              >
                {{ t("inActive") }}
              </span>
              <input
                [formControl]="gender"
                type="radio"
                [value]="'InActive'"
                class="radio radio-xs"
              />
            </label>
          </div>
        </div>
        <span *ngIf="gender && gender.invalid && gender.touched">
          <p
            *transloco="let t; read: 'setup.regionDialog.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("missingStatus") }}
          </p>
        </span>
      </div>
    </div>
    <div class="flex flex-row space-x-2 items-center w-full justify-end pt-2">
      <button
        *transloco="let t; read: 'actions'"
        (click)="closeDialog()"
        type="button"
        class="btn text-xs font-inter btn-ghost text-neutral-500 w-24"
      >
        {{ t("close") }}
      </button>
      <button
        *transloco="let t; read: 'actions'"
        (click)="submitBankUserForm()"
        type="submit"
        form="control-number-form"
        [disabled]="!bankUserForm.valid"
        class="btn text-xs font-inter w-24 bg-primary hover:bg-accent text-neutral-50 btn-ghost shadow-4"
      >
        {{ t("submit") }}
      </button>
    </div>
  </form>
</div>
