<mat-form-field
  color="primary"
  accent="secondary"
  class="example-full-width w-full"
  *transloco="let t; read: 'auth.forgotPassword'"
>
  <span matTextPrefix>+255 &nbsp;</span>
  <input
    #mobileNumber
    [formControl]="mobileView"
    type="tel"
    matInput
    placeholder="666 - 666 - 666"
    (keyup)="formatToMobileNumber($event)"
  />
  <mat-error *ngIf="mobileView && mobileView.invalid && mobileView.touched">
    @if (mobileView.hasError('required')) {
    {{ t("form.errors.email") }}
    } @else if (mobileView.hasError('pattern')) {
    {{ t("form.errors.invalidPhone") }}
    }
  </mat-error>
</mat-form-field>

<!-- <mat-form-field
  color="primary"
  accent="secondary"
  class="example-full-width w-full"
  *transloco="let t; read: 'auth.forgotPassword'"
>
  <span matTextPrefix>+255 &nbsp;</span>
  <input
    [formControl]="mobileNumber"
    type="tel"
    matInput
    placeholder="666-666-666 (9 digits)"
  />
  <mat-error
    *ngIf="mobileNumber && mobileNumber.invalid && mobileNumber.touched"
  >
    @if (mobileNumber.hasError('required')) {
    {{ t("form.errors.email") }}
    } @else if (mobileNumber.hasError('pattern')) {
    {{ t("form.errors.invalidPhone") }}
    }
  </mat-error>
</mat-form-field> -->
