<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div
  class="py-2 w-full h-fit pl-6 pr-4 grid grid-cols-12 gap-x-4 gap-y-4 overflow-y-auto"
>
  <div
    class="w-full grid grid-cols-3 gap-1 col-span-full lg:col-span-8 relative"
  >
    <h4
      *transloco="let t; read: 'dashboard.dashboard.overview'"
      class="col-span-full row-span-1 text-black font-bold tracking-wide text-lg"
    >
      {{ t("name") }}
    </h4>
    <ng-container *ngIf="invoiceStatistics.length > 0">
      <div
        *ngFor="
          let statistic of invoiceStatistics;
          trackBy: PerformanceUtils.trackByIndex;
          index as i
        "
        class="col-span-1 h-36 bg-white shadow rounded flex flex-col items-center justify-center"
      >
        <h2 class="card-title font-inter font-light text-xl lg:text-2xl">
          {{ statistic.Statistic }}
        </h2>
        <h4
          *transloco="
            let t;
            read: 'dashboard.dashboard.overview.statisticsData'
          "
          class="text-sm lg:text-lg font-bold"
        >
          {{ t(statistic.Name.toLocaleLowerCase()) }}
        </h4>
        <a
          (click)="dashboardStatisticRouterLink(statistic.Name)"
          *transloco="let t; read: 'dashboard.dashboard.overview'"
          class="text-xs text-darkPurple font-inter hover:underline cursor-pointer"
        >
          {{ t("viewMore") }}
        </a>
      </div>
    </ng-container>
    <ng-container *ngIf="overviewLoading">
      <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
        <span class="loading loading-spinner loading-sm bg-darkPurple"></span>
      </div>
    </ng-container>
    <ng-container *ngIf="!overviewLoading && !invoiceStatistics">
      <div *transloco="let t; read: 'errors'">
        <p class="text-center text-sm tracking-wide pt-3 pb-1">
          {{ t("noDataFound") }}
        </p>
      </div>
    </ng-container>
  </div>
  <div
    class="flex flex-col space-y-2 relative w-full max-h-min col-span-full lg:col-span-4 lg:col-start-9"
  >
    <div class="flex flex-row justify-between w-full">
      <div class="relative flex flex-row items-center space-x-1">
        <p
          *transloco="let t; read: 'dashboard.dashboard.inboxApproval'"
          class="text-black font-bold tracking-wide text-lg"
        >
          {{ t("name") }}
        </p>
      </div>
      <a
        [routerLink]="'/main/company/inbox'"
        *transloco="let t; read: 'defaults'"
        class="btn btn-xs btn-ghost bg-lightPurple text-darkPurple"
      >
        {{ t("viewAll") }}
      </a>
    </div>
    <div
      *ngIf="inboxApprovals.length === 0"
      class="bg-white py-10 rounded shadow h-full w-full grid place-items-center"
    >
      <p
        [class]="inboxApprovalLoading ? 'hidden' : ''"
        class="text-lg text-center"
        *transloco="let t; read: 'dashboard.dashboard.inboxApproval.errors'"
      >
        {{ t("emptyInbox") }}
      </p>
      <ng-container *ngIf="inboxApprovalLoading">
        <div class="w-full grid place-items-center mt-6">
          <span class="loading loading-spinner loading-sm bg-darkPurple"></span>
        </div>
      </ng-container>
    </div>
    <ul
      *ngIf="inboxApprovals.length > 0"
      id="inbox-approval"
      class="bg-white p-2 shadow rounded flex flex-col space-y-4 divide-y overflow-y-auto h-full w-full lg:max-h-72"
    >
      <li class="py-2" *ngFor="let info of inboxApprovals; index as i">
        <a class="flex flex-row items-center justify-between">
          <div class="flex flex-col">
            <p class="text-xs">
              {{ info.CompName }}
            </p>
            <p class="text-xs font-bold">
              {{ info.MobNo }}
            </p>
          </div>
          <button
            (click)="approveCompany(info)"
            *transloco="let t; read: 'dashboard.dashboard.inboxApproval'"
            class="btn btn-xs bg-lightYellow tracking-wide px-4"
          >
            {{ info.Status }}
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col space-y-1 relative w-full h-full col-span-full lg:col-span-4 lg:col-start-9"
  >
    <div class="flex flex-row justify-between w-full">
      <div class="relative flex flex-row items-center space-x-1">
        <p
          *transloco="let t; read: 'dashboard.dashboard.transaction'"
          class="text-black font-bold tracking-wide text-lg"
        >
          {{ t("name") }}
        </p>
      </div>
    </div>
    <div
      *ngIf="latestTransactions.length === 0"
      class="bg-white py-10 rounded shadow h-full w-full grid place-items-center"
    >
      <p
        class="text-lg text-center"
        *transloco="let t; read: 'dashboard.dashboard.transaction.errors'"
      >
        {{ t("noDataFound") }}
      </p>
    </div>
    <div
      *ngIf="latestTransactions.length > 0"
      class="w-full max-h-96 overflow-y-auto rounded-lg p-2 flex flex-col relative bg-white shadow"
    >
      <ul
        *ngFor="let arr of transactionsLatest(); index as i"
        class="flex flex-col space-y-2 py-2"
      >
        <li>
          <div class="flex flex-col space-y-2">
            <h6 class="font-semibold">
              {{
                PerformanceUtils.convertDateStringToDate(
                  arr.at(0).Payment_Date
                ).toDateString()
              }}
            </h6>
            <div
              class="flex flex-col space-y-1 px-4"
              *ngFor="let trans of arr; index as ind"
            >
              <button
                [routerLink]="
                  '/main/' + invoiceNumberToBase64(trans.Invoice_Sno)
                "
                class="flex flex-row items-center justify-between hover:bg-neutral-100 p-2"
              >
                <div class="flex flex-row items-center space-x-1">
                  <div
                    class="w-14 h-14 bg-success relative spiky-invoice-number"
                  >
                    <p
                      class="text-xs font-bold absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                    >
                      {{ trans.Status }}
                    </p>
                  </div>
                  <div class="flex flex-col">
                    <p class="text-sm text-left">{{ trans.Payer_Name }}</p>
                    <p class="text-xs text-neutral-500 text-left">
                      {{ trans.Control_No }}
                    </p>
                  </div>
                </div>
                <p class="text-xs text-success">
                  {{
                    PerformanceUtils.moneyFormat(trans.PaidAmount.toString()) +
                      " TZS"
                  }}
                </p>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    [formGroup]="tableHeadersFormGroup"
    class="flex flex-col w-full space-y-1 relative col-span-full col-end-13 lg:col-end-9 lg:row-start-2"
  >
    <div class="flex flex-row items-center justify-between">
      <p
        *transloco="let t; read: 'dashboard.dashboard.onboardCustomers'"
        class="text-black font-bold tracking-wide text-lg capitalize"
      >
        {{ t("name") }}
      </p>
      <a
        [routerLink]="'/main/company/summary'"
        *transloco="let t; read: 'defaults'"
        class="btn btn-xs btn-ghost bg-lightPurple text-darkPurple"
      >
        {{ t("viewAll") }}
      </a>
    </div>
    <div class="flex flex-col bg-white shadow px-2 py-4 space-y-2">
      <div class="flex flex-row items-center justify-end space-x-2 pt-1">
        <div class="relative">
          <input
            *transloco="let t; read: 'dashboard.dashboard'"
            type="search"
            class="relative pl-8 m-0 block w-full lg:w-96 min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-neutral-500 focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
            id="exampleSearch"
            [placeholder]="t('searchBy')"
            [formControl]="tableSearch"
          />
          <span class="absolute left-2 top-1/2 -translate-y-1/2">
            <i class="bi bi-search text-neutral-content text-lg"></i>
          </span>
        </div>
      </div>
      <div id="list-view" class="py-4 md:hidden">
        <ul class="flex flex-col space-y-4">
          <li
            *ngFor="
              let company of tableData.dataSource.filteredData
                | slice
                  : 1 + paginator.pageSize * paginator.pageIndex - 1
                  : 1 +
                      paginator.pageSize * paginator.pageIndex +
                      paginator.pageSize -
                      1;
              index as i
            "
          >
            <div
              class="flex flex-col space-y-1 rounded"
              [class]="i % 2 === 0 ? 'bg-neutral-50 shadow' : 'bg-white'"
            >
              <div *ngFor="let header of headers.controls; index as i">
                <div
                  class="flex flex-row items-center justify-between border-b p-1"
                >
                  <p class="text-xs font-semibold">
                    {{ header.get("label")?.value }}
                  </p>
                  <ng-container>
                    <p
                      [class]="
                        tableValueStyle(company, header.get('value')?.value)
                      "
                    >
                      {{ tableValue(company, header.get("value")?.value) }}
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ng-container *ngIf="!tableLoading">
          <div
            class="border-t border-b grid place-items-center"
            *transloco="let t; read: 'errors'"
          >
            <p
              *ngIf="tableData.tableCompanies.length <= 0"
              class="text-center text-sm tracking-wide p-3"
            >
              {{ t("noDataFound") }}
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="tableLoading">
          <div class="w-full grid place-items-center mt-6">
            <span
              class="loading loading-spinner loading-lg bg-darkPurple"
            ></span>
          </div>
        </ng-container>
      </div>
      <div
        class="overflow-x-auto hidden md:flex flex-col sm:-mx-6 lg:-mx-8 relative"
      >
        <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
          <div class="overflow-y-auto shadow">
            <ng-container
              *ngIf="tableData.tableColumns$ | async as displayedColumns"
            >
              <table
                mat-table
                matSort
                [dataSource]="tableData.dataSource"
                class="mat-elevation-z2 w-full"
              >
                <ng-container
                  *ngFor="
                    let column of displayedColumns;
                    trackBy: PerformanceUtils.trackByIndex;
                    index as ind;
                    last
                  "
                  [matColumnDef]="column.label"
                >
                  <th mat-header-cell *matHeaderCellDef>
                    <div class="relative">
                      <div
                        *ngIf="tableSortableColumns(column); else notSortable"
                        [mat-sort-header]="tableSortableColumns(column)"
                        sortActionDescription="{{ column.desc }}"
                        [ngClass]="tableHeaderStyle(column.value)"
                        class="text-black font-semibold"
                      >
                        {{ column.label }}
                      </div>
                      <ng-template #notSortable>
                        <div
                          [ngClass]="tableHeaderStyle(column.value)"
                          class="text-black font-semibold"
                        >
                          {{ column.label }}
                        </div>
                      </ng-template>
                    </div>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <ng-container>
                      <p [class]="tableValueStyle(element, column.value)">
                        {{ tableValue(element, column.value) }}
                      </p>
                    </ng-container>
                  </td>
                </ng-container>
                <tr
                  mat-header-row
                  *matHeaderRowDef="tableHeader(displayedColumns)"
                ></tr>
                <tr
                  mat-row
                  *matRowDef="
                    let row;
                    columns: tableHeader(displayedColumns);
                    index as i
                  "
                ></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td
                    *transloco="let t; read: 'errors'"
                    class="mat-cell"
                    [attr.colspan]="tableData.tableColumns.length"
                  >
                    <p
                      *ngIf="
                        tableSearch.value &&
                        tableData.dataSource.data.length > 0
                      "
                      class="text-xs lg:text-sm py-2 px-4"
                    >
                      {{ t("noFilterItemFound") }} "{{ tableSearch.value }}"
                    </p>
                    <p
                      *ngIf="tableData.dataSource.data.length <= 0"
                      class="text-center text-sm tracking-wide pt-3 pb-1"
                    >
                      {{ t("noDataFound") }}
                    </p>
                  </td>
                </tr>
              </table>
            </ng-container>
            <ng-container *ngIf="tableLoading">
              <div class="w-full grid place-items-center mt-6">
                <span
                  class="loading loading-spinner loading-sm bg-darkPurple"
                ></span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="flex flex-row-reverse items-center justify-between">
        <mat-paginator
          #paginator
          [length]="tableData.tableCompanies.length"
          [pageSize]="3"
          [pageSizeOptions]="[3]"
          aria-label="Select page"
          [showFirstLastButtons]="tableData.tableCompanies.length > 20"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
