<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div
  class="absolute py-2 top-0 left-0 right-0 bottom-0 w-full h-full pl-6 pr-4 grid grid-cols-12 grid-rows-12 gap-x-4 gap-y-4 overflow-y-auto"
>
  <div
    class="w-full col-span-full row-span-12 lg:row-span-4 lg:col-span-8 flex flex-col space-y-2 relative"
  >
    <div class="absolute top-0 left-0 right-0 bottom-0 flex flex-col">
      <div class="flex flex-row flex-none w-full items-center justify-between">
        <p
          *transloco="let t; read: 'dashboard.dashboard.overview'"
          class="text-black font-bold tracking-wide text-lg"
        >
          {{ t("name") }}
        </p>
      </div>
      <div
        class="grow flex flex-row justify-between overflow-x-auto overflow-y-hidden relative space-x-4"
      >
        <!-- <app-dashboard-overview-card
          *ngFor="let overviewCard of overviewCards; index as i"
          [imgUrl]="overviewCard.imgUrl"
          [label]="overviewCard.label"
          [viewMoreLink]="overviewCard.link"
          [statistic]="overviewCard.statistic"
          [increase]="overviewCard.increase"
          [lang]="overviewCard.lang"
        ></app-dashboard-overview-card> -->
        <div
          *ngFor="
            let overviewCard of overviewCards;
            index as i;
            trackBy: PerformanceUtils.trackByIndex
          "
          class="w-40 lg:w-1/4 h-full bg-white shadow rounded flex flex-col items-center justify-center"
        >
          <h2 class="card-title font-inter font-light text-xl lg:text-2xl">
            {{ overviewCard.statistic }}
          </h2>
          <h4 class="text-sm lg:text-lg font-bold">
            {{ overviewCard.label }}
          </h4>
          <a
            [routerLink]="overviewCard.link"
            class="text-xs text-darkPurple font-inter hover:underline"
          >
            View more
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-col space-y-2 relative w-full col-span-full row-span-6 lg:col-span-4 lg:col-start-9 lg:row-span-6"
  >
    <div class="flex flex-row justify-between w-full">
      <div class="relative flex flex-row items-center space-x-1">
        <p
          *transloco="let t; read: 'dashboard.dashboard.inboxApproval'"
          class="text-black font-bold tracking-wide text-lg"
        >
          {{ t("name") }}
        </p>
      </div>
      <a
        [routerLink]="'/main/company/inbox'"
        *transloco="let t; read: 'dashboard.dashboard.inboxApproval'"
        class="btn btn-xs btn-ghost bg-lightPurple text-darkPurple"
      >
        {{ t("allOperations") }}
      </a>
    </div>
    <div
      *ngIf="inboxApprovals.length === 0"
      class="bg-white py-10 rounded shadow h-full w-full grid place-items-center"
    >
      <p
        [class]="inboxApprovalLoading ? 'hidden' : ''"
        class="text-lg text-center"
        *transloco="let t; read: 'dashboard.dashboard.inboxApproval.errors'"
      >
        {{ t("emptyInbox") }}
      </p>
      <ng-container *ngIf="inboxApprovalLoading">
        <div class="w-full grid place-items-center mt-6">
          <span class="loading loading-spinner loading-sm bg-darkPurple"></span>
        </div>
      </ng-container>
    </div>
    <ul
      *ngIf="inboxApprovals.length > 0"
      id="inbox-approval"
      class="bg-white p-2 shadow rounded flex flex-col space-y-4 divide-y overflow-y-auto h-full w-full max-h-96 lg:max-h-none"
    >
      <li class="py-2" *ngFor="let info of inboxApprovals; index as i">
        <a class="flex flex-row items-center justify-between">
          <div class="flex flex-col">
            <p class="text-xs">
              {{ info.CompName }}
            </p>
            <p class="text-xs font-bold">
              {{ info.MobNo }}
            </p>
          </div>
          <button
            (click)="approveCompany(info)"
            *transloco="let t; read: 'dashboard.dashboard.inboxApproval'"
            class="btn btn-xs bg-lightYellow tracking-wide px-4"
          >
            {{ info.Status }}
          </button>
        </a>
      </li>
    </ul>
  </div>
  <div
    class="flex flex-col space-y-1 relative w-full h-full col-span-full row-span-6 lg:col-span-4 lg:col-start-9 lg:row-span-6"
  >
    <div class="flex flex-row justify-between w-full">
      <div class="relative flex flex-row items-center space-x-1">
        <p
          *transloco="let t; read: 'dashboard.dashboard.transaction'"
          class="text-black font-bold tracking-wide text-lg"
        >
          {{ t("name") }}
        </p>
      </div>
      <a
        [routerLink]="'/main/reports/transactions'"
        *transloco="let t; read: 'defaults'"
        class="btn btn-xs btn-ghost bg-lightPurple text-darkPurple"
      >
        {{ t("viewAll") }}
      </a>
    </div>
    <div
      *ngIf="transactions.length === 0"
      class="bg-white py-10 rounded shadow h-full w-full grid place-items-center"
    >
      <p
        class="text-lg text-center"
        *transloco="let t; read: 'dashboard.dashboard.transaction.errors'"
      >
        {{ t("noDataFound") }}
      </p>
    </div>
    <div
      *ngIf="transactions.length > 0"
      class="w-full h-full overflow-y-auto rounded-lg p-2 flex flex-col relative bg-white shadow"
    >
      <ul
        *ngFor="let arr of transactionsLatest(); index as i"
        class="flex flex-col space-y-2 py-2"
      >
        <li>
          <div class="flex flex-col space-y-2">
            <h6 class="font-semibold">
              {{
                convertDotNetJSONDate(arr.at(0).date.toString()).toDateString()
              }}
            </h6>
            <div
              class="flex flex-col space-y-1 px-4"
              *ngFor="let trans of arr; index as ind"
            >
              <button
                [routerLink]="'/main/reports/transactions/' + i"
                class="flex flex-row items-center justify-between hover:bg-neutral-100 p-2"
              >
                <div class="flex flex-row items-center space-x-1">
                  <div
                    class="w-14 h-14 bg-success relative spiky-invoice-number"
                  >
                    <p
                      class="text-xs font-bold absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
                    >
                      PAID
                    </p>
                  </div>
                  <div class="flex flex-col">
                    <p class="text-sm text-left">{{ trans.company }}</p>
                    <p class="text-xs text-neutral-500 text-left">
                      {{ trans.name }}
                    </p>
                  </div>
                </div>
                <p class="text-xs text-success">
                  {{
                    PerformanceUtils.moneyFormat(trans.amount.toString()) +
                      " " +
                      trans.currency
                  }}
                </p>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    [formGroup]="tableHeadersFormGroup"
    class="flex flex-col space-y-1 relative w-full col-span-full lg:col-start-1 lg:row-start-5 lg:col-span-8 lg:row-span-full"
  >
    <div
      class="col-span-full lg:col-span-8 lg:row-span-12 flex flex-col space-y-2"
    >
      <div class="flex flex-row items-center justify-between">
        <p
          *transloco="let t; read: 'dashboard.dashboard.onboardCustomers'"
          class="text-black font-bold tracking-wide text-lg capitalize"
        >
          {{ t("name") }}
        </p>
      </div>
      <div class="flex flex-col bg-white shadow px-2 py-4 space-y-2">
        <form class="w-full grid grid-cols-2 lg:grid-cols-3 gap-x-2 gap-y-3">
          <div class="flex flex-col space-y-1">
            <p
              *transloco="
                let t;
                read: 'dashboard.dashboard.customerDetailReport.form'
              "
              class="text-xs capitalize"
            >
              {{ t("company") }}
            </p>
            <select
              [formControl]="Comp"
              class="select select-sm select-bordered w-full"
            >
              <option
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.placeholders'
                "
                selected
                [value]="'0'"
              >
                {{ t("all") }}
              </option>
              <option
                [value]="company.CompSno"
                *ngFor="
                  let company of companies;
                  trackBy: PerformanceUtils.trackByIndex
                "
              >
                {{ company.CompName }}
              </option>
            </select>
            <span *ngIf="Comp && Comp.invalid && Comp.touched">
              <p
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.errors'
                "
                class="text-xs text-red-600"
              >
                {{ t("company") }}
              </p>
            </span>
          </div>
          <div class="flex flex-col space-y-1">
            <p
              *transloco="
                let t;
                read: 'dashboard.dashboard.customerDetailReport.form'
              "
              class="text-xs capitalize"
            >
              {{ t("region") }}
            </p>
            <select
              [formControl]="reg"
              class="select select-sm select-bordered w-full"
            >
              <option
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.placeholders'
                "
                selected
                [value]="'0'"
              >
                {{ t("all") }}
              </option>
              <option
                [value]="region.Region_SNO"
                *ngFor="
                  let region of regions;
                  trackBy: PerformanceUtils.trackByIndex
                "
              >
                {{ region.Region_Name }}
              </option>
            </select>
            <span *ngIf="reg && reg.invalid && reg.touched">
              <p
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.errors'
                "
                class="text-xs text-red-600"
              >
                {{ t("region") }}
              </p>
            </span>
          </div>
          <div class="flex flex-col space-y-1">
            <p
              *transloco="
                let t;
                read: 'dashboard.dashboard.customerDetailReport.form'
              "
              class="text-xs capitalize"
            >
              {{ t("district") }}
            </p>
            <select
              [formControl]="dist"
              class="select select-sm select-bordered w-full"
            >
              <option
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.placeholders'
                "
                selected
                [value]="'0'"
              >
                {{ t("all") }}
              </option>
              <option
                [value]="district.SNO"
                *ngFor="
                  let district of districts;
                  trackBy: PerformanceUtils.trackByIndex
                "
              >
                {{ district.District_Name }}
              </option>
            </select>
            <span *ngIf="dist && dist.invalid && dist.touched">
              <p
                *transloco="
                  let t;
                  read: 'dashboard.dashboard.customerDetailReport.form.errors'
                "
                class="text-xs text-red-600"
              >
                {{ t("district") }}
              </p>
            </span>
          </div>

          <div class="col-span-full flex flex-row items-center justify-end">
            <button
              (click)="submitTableFilterForm()"
              *transloco="let t; read: 'actions'"
              type="button"
              class="btn btn-sm text-darkPurple bg-lightPurple"
            >
              {{ t("submit") }}
            </button>
          </div>
        </form>
        <div class="flex flex-row items-center justify-end space-x-2 pt-1">
          <div class="relative">
            <input
              *transloco="let t; read: 'defaults'"
              type="search"
              class="relative pl-8 m-0 block w-full lg:w-96 min-w-0 flex-auto rounded border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-neutral-500 focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none"
              id="exampleSearch"
              [placeholder]="t('search')"
              [formControl]="tableSearch"
            />
            <span
              class="material-symbols-outlined text-neutral-500 absolute top-1/2 left-1 -translate-y-1/2"
            >
              search
            </span>
          </div>
        </div>
        <div class="overflow-x-auto flex flex-col sm:-mx-6 lg:-mx-8 relative">
          <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
            <div class="overflow-y-auto shadow">
              <table class="min-w-full text-left text-sm font-light">
                <thead formArrayName="headers" class="border-b font-medium">
                  <tr
                    *transloco="let t; read: 'tableData.vendor'"
                    class="bg-lightPurple"
                  >
                    <ng-container
                      *ngFor="let header of headers.controls; index as ind"
                    >
                      <th
                        *ngIf="header.get('included')?.value"
                        scope="col"
                        class="px-6 font-inter text-sm"
                        [id]="'generated-invoice-id-' + ind"
                        formGroupName="{{ ind }}"
                      >
                        <div class="flex items-center">
                          <p>
                            {{ header?.get("label")?.value }}
                          </p>
                          <button
                            *ngIf="ind !== VendorDetailsReportTable.DATE_POSTED"
                          >
                            <span
                              class="material-symbols-outlined m-1 text-xl cursor-pointer text-darkPurple"
                            >
                              unfold_more
                            </span>
                          </button>
                        </div>
                      </th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let customer of customers
                        | slice
                          : 1 + paginator.pageSize * paginator.pageIndex - 1
                          : 1 +
                              paginator.pageSize * paginator.pageIndex +
                              paginator.pageSize -
                              1;
                      trackBy: PerformanceUtils.trackByIndex;
                      index as i
                    "
                    class="border-b transition duration-300 ease-in-out hover:bg-neutral-100"
                    [class]="i % 2 !== 0 ? 'bg-neutral-50' : ''"
                  >
                    <td
                      *ngIf="
                        headers.controls
                          .at(VendorDetailsReportTable.CUSTOMER_NAME)
                          ?.get('included')?.value
                      "
                      [class]="
                        headers.controls
                          .at(VendorDetailsReportTable.CUSTOMER_NAME)
                          ?.get('included')?.value
                          ? ''
                          : 'hidden'
                      "
                      class="text-sm font-inter whitespace-nowrap px-6 py-4"
                    >
                      {{ customer.Cust_Name }}
                    </td>
                    <td
                      *ngIf="
                        headers.controls
                          .at(VendorDetailsReportTable.CONTACT_PERSON)
                          ?.get('included')?.value
                      "
                      [class]="
                        headers.controls
                          .at(VendorDetailsReportTable.CONTACT_PERSON)
                          ?.get('included')?.value
                          ? ''
                          : 'hidden'
                      "
                      class="text-sm font-inter whitespace-nowrap px-6 py-4"
                    >
                      {{ customer.ConPerson }}
                    </td>
                    <td
                      *ngIf="
                        headers.controls
                          .at(VendorDetailsReportTable.EMAIL)
                          ?.get('included')?.value
                      "
                      [class]="
                        headers.controls
                          .at(VendorDetailsReportTable.EMAIL)
                          ?.get('included')?.value
                          ? ''
                          : 'hidden'
                      "
                      class="text-sm font-inter whitespace-nowrap px-6 py-4"
                    >
                      {{ customer.Email }}
                    </td>
                    <td
                      *ngIf="
                        headers.controls
                          .at(VendorDetailsReportTable.ADDRESS)
                          ?.get('included')?.value
                      "
                      [class]="
                        headers.controls
                          .at(VendorDetailsReportTable.ADDRESS)
                          ?.get('included')?.value
                          ? ''
                          : 'hidden'
                      "
                      class="text-sm font-inter whitespace-nowrap px-6 py-4"
                    >
                      {{ customer.Address }}
                    </td>
                    <td
                      *ngIf="
                        headers.controls
                          .at(VendorDetailsReportTable.DATE_POSTED)
                          ?.get('included')?.value
                      "
                      [class]="
                        headers.controls
                          .at(VendorDetailsReportTable.DATE_POSTED)
                          ?.get('included')?.value
                          ? ''
                          : 'hidden'
                      "
                      class="text-sm font-inter whitespace-nowrap px-6 py-4"
                    >
                      {{
                        PerformanceUtils.convertDateStringToDate(
                          customer.Posted_Date
                        ).toLocaleDateString()
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
              <ng-container *ngIf="!tableLoading">
                <div *transloco="let t; read: 'errors'">
                  <p
                    *ngIf="customers.length <= 0"
                    class="text-center text-sm tracking-wide pt-3 pb-1"
                  >
                    {{ t("noDataFound") }}
                  </p>
                </div>
              </ng-container>
              <ng-container *ngIf="tableLoading">
                <div class="w-full grid place-items-center mt-6">
                  <span
                    class="loading loading-spinner loading-sm bg-darkPurple"
                  ></span>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="flex flex-row-reverse items-center justify-between">
          <mat-paginator
            #paginator
            [length]="customers.length"
            [pageSize]="5"
            [pageSizeOptions]="[5]"
            aria-label="Select page"
            [showFirstLastButtons]="customers.length > 20"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
