.spiky-invoice-number {
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );
}

table {
  width: 100%;
  //text-align: center !important;
}

table th {
  background-color: #f3f5fe;
}

table tr:nth-child(odd) {
  background-color: #ffffffff; /* Light gray background for odd rows */
}

table tr:nth-child(even) {
  background-color: #f9f9f9f9; /* White background for even rows */
}

table tr:hover {
  background-color: rgba(250, 250, 250, 0.8);
}
