<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<div class="flex flex-col w-full h-full">
  <form
    id="control-number-form"
    [formGroup]="depositAccountForm"
    class="py-10 px-10 flex flex-col divide-y"
  >
    <h1
      *transloco="let t; read: 'setup.depositAccount'"
      class="text-xl md:text-2xl p-0"
    >
      {{ t("depositAccount") }}
    </h1>
    <div class="w-full grid grid-cols-2 gap-3 py-8">
      <div class="flex flex-col space-y-1">
        <p
          *transloco="let t; read: 'setup.depositAccount.form'"
          class="text-xs"
        >
          {{ t("vendor") }}<span class="text-red-600">*</span>
        </p>
        <select
          [formControl]="csno"
          class="select select-sm select-bordered w-full"
        >
          <option
            *transloco="let t; read: 'setup.depositAccount.form.placeholders'"
            disabled
            selected
          >
            {{ t("vendor") }}
          </option>
          <option
            *ngFor="
              let customer of customers;
              index as ind;
              trackBy: PerformanceUtils.trackByIndex
            "
            [value]="customer.CompSno"
          >
            {{ customer.CompName }}
          </option>
        </select>
        <span *ngIf="csno && csno.invalid && csno.touched">
          <p
            *transloco="let t; read: 'setup.depositAccount.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("vendor") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1">
        <p
          *transloco="let t; read: 'setup.depositAccount.form'"
          class="text-xs"
        >
          {{ t("account") }}<span class="text-red-600">*</span>
        </p>
        <select
          [formControl]="account"
          class="select select-sm select-bordered w-full"
        >
          <option
            *transloco="let t; read: 'setup.depositAccount.form.placeholders'"
            disabled
            selected
          >
            {{ t("account") }}
          </option>
          <option
            *ngFor="
              let account of accounts;
              index as i;
              trackBy: PerformanceUtils.trackByIndex
            "
            [value]="account.Sus_Acc_No"
          >
            {{ account.Sus_Acc_No ? account.Sus_Acc_No : "-" }}
          </option>
          <!-- <option value="123">123</option> -->
        </select>
        <span *ngIf="account && account.invalid && account.touched">
          <p
            *transloco="let t; read: 'setup.depositAccount.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("account") }}
          </p>
        </span>
      </div>
      <div class="flex flex-col space-y-1 w-full">
        <h6
          *transloco="let t; read: 'setup.depositAccount.form'"
          class="text-left text-xs"
        >
          {{ t("reason") }}<span class="text-red-600">*</span>
        </h6>
        <input
          *transloco="let t; read: 'setup.depositAccount.form.placeholders'"
          #controlNumber
          [formControl]="reason"
          (change)="setControlValue(reason, controlNumber.value)"
          type="text"
          [placeholder]="t('reason')"
          class="input input-sm input-bordered w-full max-w-lg bg-transparent text-black"
        />
        <span *ngIf="reason && reason.invalid && reason.touched">
          <p
            *transloco="let t; read: 'setup.depositAccount.form.errors'"
            class="text-xs text-red-600"
          >
            {{ t("reason") }}
          </p>
        </span>
      </div>
    </div>
    <div class="flex flex-row space-x-2 items-center w-full justify-end pt-2">
      <button
        *transloco="let t; read: 'actions'"
        (click)="closeDialog()"
        type="button"
        class="btn text-xs font-inter btn-ghost text-neutral-500 w-24"
      >
        {{ t("close") }}
      </button>
      <button
        *transloco="let t; read: 'actions'"
        (click)="submitDepositForm()"
        type="submit"
        form="control-number-form"
        [disabled]="!depositAccountForm.valid"
        class="btn text-xs font-inter w-24 bg-primary hover:bg-accent text-neutral-50 btn-ghost shadow-4"
      >
        {{ t("submit") }}
      </button>
    </div>
  </form>
</div>
