<form
  id="forgot-password-form"
  *transloco="let t; read: 'auth.otp'"
  class="bg-white grid place-items-center px-8 py-8 shadow-2 rounded-md space-y-0 md:w-[30rem]"
  [formGroup]="formGroup"
>
  <img src="assets/img/jichangelogo.png" class="w-40" alt="" srcset="" />
  <div class="w-full flex flex-col">
    <h6 class="text-center text-xl">
      {{ t("verifyAccount") }}
    </h6>
    <h6 class="text-center text-sm">
      {{ t("verifyAccountMessage") }}
    </h6>
  </div>
  <div class="flex flex-col space-y-1 w-full py-8">
    <h6 class="text-left text-sm">
      {{ t("form.code") }} <span class="text-red-600">*</span>
    </h6>
    <input
      #controlNumber
      [formControl]="otp"
      type="email"
      [placeholder]="t('form.placeholders.code')"
      class="input input-bordered w-full max-w-lg bg-transparent text-black"
    />
    <span *ngIf="otp && otp.invalid && otp.touched">
      <p class="text-xs text-red-600">
        {{ t("form.errors.code") }}
      </p>
    </span>
  </div>
  <div class="w-full pb-4">
    <div class="relative">
      <button
        *ngIf="resendCodeCounter > 0; else resendCodeTemplate"
        class="text-gray-400"
      >
        {{ t("resendCodeIn").replace("{}", resendCodeCounter) }}
      </button>
      <ng-template #resendCodeTemplate>
        <button
          (click)="resendCode()"
          class="text-linkBlue hover:underline cursor-pointer"
        >
          {{ t("resendCode") }}
        </button>
      </ng-template>
    </div>
  </div>
  <button
    form="forgot-password-form"
    (click)="submitForm()"
    type="submit"
    *transloco="let y; read: 'actions'"
    class="btn w-full btn-outline font-inter text-sm border-linkBlue hover:bg-buttonBlue"
  >
    {{ y("submit") }}
  </button>
</form>
