<ngx-loading
  [show]="routeLoading"
  [config]="{ backdropBorderRadius: '0.5px' }"
></ngx-loading>

<ngx-sonner-toaster
  position="top-right"
  [richColors]="true"
></ngx-sonner-toaster>

<div
  [attr.data-theme]="themes[selectedThemeIndex].label"
  class="h-screen w-screen overflow-x-hidden bg-jichangeDefault flex flex-col relative"
>
  <div
    #containerDoc
    class="w-full h-full overflow-x-hidden overflow-y-scroll flex flex-col"
  >
    <div
      #navBarItem
      id="navbar"
      class="z-50 fixed shadow-4 w-full duration-500 flex-none"
    >
      <app-header #mainHeader></app-header>
    </div>
    <div class="flex-1 flex flex-col divide-y pt-20 lg:pt-[5.5rem] w-full">
      <div class="px-6 py-2 relative">
        <xng-breadcrumb [separator]="iconTemplate"></xng-breadcrumb>
        <ng-template #iconTemplate>
          <span>
            <i class="bi bi-chevron-right"></i>
          </span>
        </ng-template>
      </div>
      <div
        class="w-full h-full relative bg-jichangeDefault pb-4"
        [@mainModuleAnimations]="prepareRoute(outlet, 'animationState')"
      >
        <router-outlet #outlet="outlet"></router-outlet>
      </div>
    </div>
    <div class="flex-none">
      <app-footer></app-footer>
    </div>
  </div>
</div>
