<app-display-message-box #displayMessageBox></app-display-message-box>
<app-success-message-box #successMessageBox></app-success-message-box>
<app-loader-infinite-spinner
  [show]="startLoading"
></app-loader-infinite-spinner>

<dialog #confirmAddCurrency id="my_modal_2" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg" *transloco="let t; read: 'defaults'">
      {{ t("confirm") }}
    </h3>
    <p class="py-4 text-sm" *transloco="let t; read: 'actions'">
      {{ t("saveChanges") }}
    </p>
    <div class="modal-action">
      <div class="flex flex-row items">
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddCurrency.close()"
          class="btn btn-ghost btn-xs btn-info text-red-600"
        >
          {{ t("close") }}
        </button>
        <button
          *transloco="let t; read: 'defaults'"
          (click)="confirmAddCurrency.close(); addCurrency()"
          class="btn btn-ghost btn-xs btn-info text-linkBlue"
        >
          {{ t("confirm") }}
        </button>
      </div>
    </div>
  </div>
  <form method="dialog" class="modal-backdrop">
    <button #close>close</button>
  </form>
</dialog>

<form
  id="currency-form"
  class="p-10 flex flex-col w-full h-full divide-y"
  [formGroup]="currencyForm"
>
  <h1
    *transloco="let t; read: 'setup.currency'"
    class="text-xl md:text-2xl p-0 col-span-full"
  >
    {{ t("currency") }}
  </h1>
  <div class="grid grid-cols-2 gap-3 w-full h-full">
    <div class="flex flex-col space-y-1 w-full py-8">
      <h6
        *transloco="let t; read: 'setup.currency'"
        class="text-left text-xs text-black"
      >
        {{ t("code") }}
      </h6>
      <mat-form-field
        *transloco="let t; read: 'setup.currency.form'"
        class="example-full-width"
      >
        <mat-label>{{ t("placeholders.code") }}</mat-label>
        <input matInput [formControl]="code" />
        <mat-error *ngIf="code && code.invalid && code.touched">
          <ng-container>
            {{ t("errors.code") }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <!-- <input
        *transloco="let t; read: 'setup.currency.form.placeholders'"
        #currencyNumber
        [formControl]="code"
        type="text"
        [placeholder]="t('code')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span *ngIf="code && code.invalid && code.touched">
        <p
          *transloco="let t; read: 'setup.currency.form.errors'"
          class="text-xs text-red-600"
        >
          {{ t("code") }}
        </p>
      </span> -->
    </div>
    <div class="flex flex-col space-y-1 w-full py-8">
      <h6
        *transloco="let t; read: 'setup.currency'"
        class="text-left text-xs text-black"
      >
        {{ t("currencyName") }}
      </h6>
      <mat-form-field
        *transloco="let t; read: 'setup.currency.form'"
        class="example-full-width"
      >
        <mat-label>{{ t("placeholders.name") }}</mat-label>
        <input matInput [formControl]="cname" />
        <mat-error *ngIf="cname && cname.invalid && cname.touched">
          <ng-container>
            {{ t("errors.name") }}
          </ng-container>
        </mat-error>
      </mat-form-field>
      <!-- <input
        *transloco="let t; read: 'setup.currency.form.placeholders'"
        #currencyNumber
        [formControl]="cname"
        type="text"
        [placeholder]="t('name')"
        class="input input-bordered w-full max-w-lg bg-transparent text-black"
      />
      <span *ngIf="cname && cname.invalid && cname.touched">
        <p
          *transloco="let t; read: 'setup.currency.form.errors'"
          class="text-xs text-red-600"
        >
          {{ t("name") }}
        </p>
      </span> -->
    </div>
  </div>
  <div
    class="flex flex-row space-x-2 items-center w-full justify-end pt-2 col-span-full"
  >
    <button
      *transloco="let t; read: 'actions'"
      (click)="closeDialog()"
      type="button"
      class="btn text-xs font-inter btn-ghost text-neutral-500 w-24"
    >
      {{ t("close") }}
    </button>
    <button
      *transloco="let t; read: 'actions'"
      (click)="submitCurrencyForm()"
      type="submit"
      form="currency-form"
      class="btn text-xs font-inter w-24 bg-primary hover:bg-accent text-neutral-50 btn-ghost shadow-4"
    >
      {{ t("submit") }}
    </button>
  </div>
</form>
